asgiref
certifi
charset-normalizer
cloudinary
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-environ
djangorestframework
djangorestframework-simplejwt
idna
pillow
psycopg
psycopg-binary
psycopg2-binary
PyJWT
requests
six
sqlparse
typing_extensions
tzdata
urllib3
